# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Model Weights
*.pth
*.pt
*.onnx
*.ckpt

# Outputs
outputs/*
!outputs/.gitkeep

# Uploaded Images
images/uploads/*
!images/uploads/.gitkeep

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db